/*
This file is used to contain all vendor imports.
*/
/*
This file is used to contain all abstracts imports.
Files inside this folder can contain abstract settings, helpers or functions. They have no direct output.
*/
/*
This file is used to contain all base imports.
Files inside this folder can contain global styles used in the project.
*/
*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
This file is used to contain all component imports.
Files inside this folder should contain all styles relating to a reusable component.
*/
/*
This file is used to contain all component imports.
Files inside this folder can contain specific element styles and layout. 
*/
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}
body .app {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
body .app .title {
  text-align: center;
}
body .app .title h1 {
  font-size: 32px;
}
body .app .add-event {
  text-align: center;
  margin-top: 20px;
}
body .app .add-event button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
body .app .add-event button:hover {
  background-color: #0056b3;
}

.events-list {
  margin-top: 20px;
}
.events-list .event-item {
  padding: 20px;
  background-color: #f9f9f9;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.events-list .event-item .titleBtn {
  display: flex;
  justify-content: space-between;
}
.events-list .event-item .titleBtn h2 {
  font-size: 24px;
}
.events-list .event-item .titleBtn button {
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.events-list .event-item .titleBtn button:nth-of-type(1) {
  background-color: rgba(0, 128, 0, 0.6);
}
.events-list .event-item .titleBtn button:nth-of-type(2) {
  background-color: rgba(0, 128, 0, 0.6);
  margin: 0 5px;
}
.events-list .event-item .titleBtn button:hover {
  background-color: rgba(0, 128, 0, 0.8);
}
.events-list .event-item .titleBtn button:nth-of-type(3) {
  background-color: rgba(220, 20, 60, 0.7);
}
.events-list .event-item .titleBtn button:nth-of-type(3):hover {
  background-color: rgb(220, 20, 60);
}
.events-list .event-item .titleBtn button:nth-of-type(4) {
  background-color: #007bff;
  margin: 0 5px;
}
.events-list .event-item .titleBtn button:nth-of-type(4):hover {
  background-color: #0056b3;
}
.events-list .event-item p {
  margin: 10px 0 5px;
}
.events-list .event-item table {
  width: 100%;
  border-collapse: collapse;
}
.events-list .event-item table th, .events-list .event-item table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}
.events-list .event-item table th {
  background-color: #f0f0f0;
}
.events-list .event-item .bestDateDisplay {
  text-align: center;
  margin-top: 20px;
}

#event-form {
  display: none;
}
#event-form #event-name, #event-form #event-dates, #event-form #event-author, #event-form #event-description, #event-form #submitBtn {
  margin: 5px;
  padding: 6px;
  border-radius: 5px;
  border: 1px solid gray;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}
#event-form #event-name::-moz-placeholder, #event-form #event-dates::-moz-placeholder, #event-form #event-author::-moz-placeholder, #event-form #event-description::-moz-placeholder, #event-form #submitBtn::-moz-placeholder {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(72, 72, 72);
  size: 12px;
}
#event-form #event-name::placeholder, #event-form #event-dates::placeholder, #event-form #event-author::placeholder, #event-form #event-description::placeholder, #event-form #submitBtn::placeholder {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(72, 72, 72);
  size: 12px;
}
#event-form #submitBtn {
  border: 0;
  padding: 5px;
  border-radius: 5px;
  color: white;
  font-size: 15px;
  background-color: rgba(0, 128, 0, 0.6);
}
#event-form #submitBtn:hover {
  background-color: rgba(0, 128, 0, 0.8);
}
#event-form #event-description {
  min-width: 97.5%;
  max-width: 97.5%;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
}
.modal .modal-content {
  background-color: #fff;
  margin: 10% auto;
  padding: 20px;
  width: 70%;
  max-width: 400px;
  position: relative;
  border-radius: 5px;
}
.modal .modal-content .closeCross {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  cursor: pointer;
  width: 37px;
  height: 37px;
}
.modal h2 {
  text-align: center;
  margin-bottom: 5px;
}

.attendancesForm .userNameContainer {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.attendancesForm .userNameContainer .userNameInput {
  width: 70px;
}
.attendancesForm .userNameContainer .sendAttendancesButton {
  background-color: #007bff;
  color: #fff;
  padding: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.attendancesForm .userNameContainer .sendAttendancesButton:hover {
  background-color: #0056b3;
}
.attendancesForm .attendancesChekboxes {
  display: flex;
  justify-content: space-between;
  background-color: rgb(184, 184, 184);
  border-radius: 25px;
  width: 80px;
  margin: auto;
  padding: 5px;
}
.attendancesForm .attendancesChekboxes .checkboxTrue {
  display: none;
}
.attendancesForm .attendancesChekboxes .checkboxFalse {
  display: none;
}
.attendancesForm .attendancesChekboxes label {
  color: rgb(255, 255, 255);
  cursor: pointer;
}
.attendancesForm .attendancesChekboxes label:hover {
  color: #007bff;
}

.modalUpdate {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.25);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
}
.modalUpdate > div.modal-content-update {
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2em;
  background: white;
}
.modalUpdate > div.modal-content-update div.close {
  position: absolute;
  top: 20px;
  right: 20px;
  height: 20px;
  width: 20px;
  cursor: pointer;
}
.modalUpdate > div.modal-content-update div.close p {
  font-size: 2rem;
  color: rgb(220, 20, 60);
}
.modalUpdate > div.modal-content-update h2 {
  text-align: center;
  padding: 20px 0;
}
.modalUpdate > div.modal-content-update form#update-event-form {
  display: flex;
  flex-direction: column;
}
.modalUpdate > div.modal-content-update form#update-event-form input, .modalUpdate > div.modal-content-update form#update-event-form textarea {
  margin: 10px;
  padding: 5px 10px;
  outline: none;
  border: 1px solid #a2a2a2;
}
.modalUpdate > div.modal-content-update form#update-event-form input::-moz-placeholder, .modalUpdate > div.modal-content-update form#update-event-form textarea::-moz-placeholder {
  color: #a2a2a2;
}
.modalUpdate > div.modal-content-update form#update-event-form input::placeholder, .modalUpdate > div.modal-content-update form#update-event-form textarea::placeholder {
  color: #a2a2a2;
}
.modalUpdate > div.modal-content-update form#update-event-form textarea {
  height: 100px;
}
.modalUpdate > div.modal-content-update form#update-event-form button {
  width: -moz-fit-content;
  width: fit-content;
  margin: 10px auto;
  border: 0;
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  font-size: 15px;
  background-color: rgba(0, 128, 0, 0.6);
}
.modalUpdate > div.modal-content-update form#update-event-form button:hover {
  background-color: rgba(0, 128, 0, 0.8);
}
.modalUpdate.active {
  visibility: visible;
  opacity: 1;
}/*# sourceMappingURL=style.css.map */