
// Chaque évènement
.event-item {
    
    padding: 5vh 3vw;
    margin: 3vh;

    background-color: #f2f2f2;
    border-radius: 30px;

    // Contenant titre et boutons
    .titleBtn {
        // display: flex;
        // justify-content: space-between;

        // Titre (ou nom) de l'évènement
        // h2 {

        // }

        // Groupe de trois boutons (Modifier, Ajouter une date et Supprimer)
        div > button {
            margin: 0 5px;
            padding: 5px 10px;
            border-radius: 5px;
            &:nth-of-type(1) {
                background-color: rgba(0, 128, 0, 0.4);
            }
            &:nth-of-type(2) {
                background-color: rgba(0, 128, 0, 0.4);
            }
            &:nth-of-type(3) {
                background-color: rgba(220, 20, 60, 0.6);
            }
        }
    }

    // Description de l'évènement
    p {
        padding: 20px 40px;
    }

    // Tableau récapitulatif des disponibilités
    table {
        // width: 100%;
        text-align: center;

        // thead {
        //     td {
                
        //     }
        // }
        tbody {
            td {
                padding: 5px 10px;
                border: 1px solid black;
                width: 150px;
                font-weight: 600;
            }
            td:first-of-type {
                text-align: left;
                width: 200px;
            }
        }
    }
}



// MEDIA QUERIES
@media only screen and (min-width: 678px) {
    .event-item {

        .titleBtn {
            display: flex;
            justify-content: space-between;
        }
    }
}