



.modalAddDate {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.25);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(12px);


    & > div.modal-content-add-date {
        width: 400px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 2em;
        background: white;

        div.close {
            position: absolute;
            top: 20px;
            right: 20px;
            height: 20px;
            width: 20px;
            cursor: pointer;

            p {
                font-size: 2rem;
                color: rgb(220, 20, 60);
            }
        }

        h2 {
            text-align: center;
            padding: 20px 0;
        }

        form#add-date-event-form {
            display: flex;
            flex-direction: column;
            
            .dates-container {
                display: flex;
                flex-direction: column;
                // align-items: center;
                
                .dateToAdd {
                    display: flex;
                    // justify-content: center;
                    align-items: center;

                    input {
                        margin: 10px;
                        padding: 5px 10px;
                        outline: none;
                        border: 1px solid #a2a2a2;
                        &::placeholder {
                            color: #a2a2a2;
                        }
                    }
                    button {
                        border-radius: 50%;
                        margin: 10px 5px;
                        &.addDateBtn {
                            background-color: #007bff;
                        }
                        &.addDateBtn:hover {
                            background-color: #0056b3;
                        }
                        &.deleteDateBtn {
                            background-color: rgba(220, 20, 60, 0.8);
                        }
                        &.deleteDateBtn:hover {
                            background-color: rgba(220, 20, 60, 1);
                        }
                    }
                    p {
                        font-size: .7rem;
                        padding-left: 20px;
                    }
                }
            }

            button {
                width: fit-content;
                margin: 10px auto;
                border: 0;
                padding: 5px 10px;
                border-radius: 5px;
                color: white;
                font-size: 15px;
                background-color: rgba(0, 128, 0, 0.6);
                &:hover {
                    background-color: rgba(0, 128, 0, 0.8);
                }
            }
        }
    }

    &.active {
        visibility: visible;
        opacity: 1;
    }
}