// -----------------FORM----------------
#event-form {
    display: none;
    
    #event-name, #event-dates, #event-author, #event-description, #submitBtn {
      margin: 5px;
      padding: 6px;
      border-radius: 5px;
      border: 1px solid gray;
      font-family: Arial, Helvetica, sans-serif;
      color: black;
      &::placeholder { // changer le style des placeholders
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(72, 72, 72);
        size: 12px;
      }
    }
  
    #submitBtn { // bouton create event
      border: 0;
      padding: 5px;
      border-radius: 5px;
      color: white;
      font-size: 15px;
      background-color: rgba(0, 128, 0, 0.6);
      &:hover {
        background-color: rgba(0, 128, 0, 0.8);
      }
    }
  
    #event-description { // pour bloquer la largeur de la fenetre description
      min-width: 97.5%;
      max-width: 97.5%;
    }
  }
  
    // -------------------------------------


    // --------------MODAL------------------
    
    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        background-color: rgba(0, 0, 0, 0.4);
        backdrop-filter: blur(12px);
        .modal-content {
            background-color: #fff;
            margin: 10% auto;
            padding: 20px;
            width: 70%;
            max-width: 400px;
            position: relative;  
            border-radius: 5px;
        }
        
        .close {
            position: absolute;
            top: 0;
            right: 0;
            padding: 10px;
            cursor: pointer; 
            img{
                width: 10px;
            }
        }
        h2{
            text-align: center;
            margin-bottom: 5px;
        }
    }
    
    
//   -----------------------------------